<div class="w-auto max-h-[600px]">
  <h1 class="text-center text-white text-2xl mt-5">{{episode.name}}</h1>
  <h4 class="text-center uppercase m-2 text-gray-400">{{episode.episode}}</h4>
  <h4 class="mt-5 text-gray-300 text-xl">Air_date: <span class="text-cyan-300">{{episode.air_date}}</span></h4>
<h1 class="text-gray-300 text-xl my-2">Characters:</h1>
<div class="w-full flex flex-row flex-wrap justify-center items-center gap-1 overflow-y-scroll max-h-[250px]">
  <img src={{getImage(char)}} alt={{episode.name}} class="w-20 h-20" *ngFor="let char of episode.characters">
</div>
<h4 class="text-gray-300 text-xl mt-5 text-center">Created: <span class="text-cyan-300">{{episode.created | date}}</span></h4>
</div>
